.md-button-square {
  position: absolute;
  top:0;
  left: 0;
  margin: 0;
  height: $height-element + 1px;
  z-index: 1;
  border-radius: 0;
  background-color: $color-secondary;
  box-shadow: 5px 0 3px -3px $color-background;
}

.md-button-icon {
  left: -$height-element - 8px;
  border-bottom: solid 1px $color-border;
}

.md-button-logo {
  position: relative;
  height: $height-element;
  float: left;
  padding-left: 0;
  margin-left: 0;
  border-top: solid 1px $color-border;
}