.md-button-square {
  position: absolute;
  top:0;
  left: 0;
  margin: 0;
  height: $height-element;
  z-index: 1;
  border-radius: 0;
  background-color: $color-secondary;
  box-shadow: 5px 0 3px -3px $color-background;
}

.md-button-icon {
  margin-top: $height-element + 18px;
  left: -$height-element - 8px;
}

@media only screen and (max-width: 800px) {
  .md-button-icon {
    margin-top: $height-element + 10px;
  }
}

.md-button-logo {
  position: fixed;
  height: $height-element;
  padding-left: 0;
  margin-left: 0;
  border-bottom: solid 1px $color-border;
  top: 154px;
}

@media only screen and (max-width: 800px) {
  .md-button-logo {
    top: 145px;
  }
}

.md-button-scrollbar {
  position: absolute;
  background-color: $color-primary;
  bottom: 0px;
  right: 20px;
  z-index: 2;
}

@media only screen and (max-width: 800px) {
  .md-button-scrollbar {
    bottom: 80px;
  }
}