.md-card-schedule {
  background-color: $color-element;
  color: $color-font;
  padding: 8px;
  height: $height-element;
  font-size: 12px;
  border-radius: 0;
}

.md-card-schedule-active {
  background-color: $color-element-active;
}