.md-content::-webkit-scrollbar
{
  height: 0.7em;
  background: transparent;
}

.md-content::-webkit-scrollbar-track
{
  border-radius: 5px;
}

.md-content::-webkit-scrollbar-thumb
{
  width: 10px;
  background-color: $color-primary;
  border-radius: 5px;
}
.md-content::-webkit-scrollbar-track-piece {
  width: 10px;
}