.md-tab-date {
  text-transform: capitalize;
  color: $color-font;
}

.md-tab-date-content {
  margin-left: -$margin-left-content;
  background-color: $color-secondary;
  display: flex;
  height: 100%;
  cursor: -webkit-grab;
  cursor: grab;
}
