.md-tab-date {
  text-transform: capitalize;
  background-color: $color-secondary;
  color: $color-font;
}

.md-tab-date-content {
  margin-left: -$margin-left-content;
  cursor: -webkit-grab;
  cursor: grab;
}
