.md-timeline {
  white-space: nowrap;
  list-style: none;
  padding-left: $margin-left-content;
}

.md-timeline::-webkit-scrollbar {
  width: 0 !important;
}

.md-timeline-element {
  display: inline-block;
  width: 240px;
  height: $height-timeline;
  border-right: solid 1px $color-border;
  border-top: solid 1px $color-border;
  border-bottom: solid 1px $color-border;
  text-align: center;
  padding-top: 4px;
  color: $color-font;
  background-color: $color-secondary;
}

.md-timeline-element:first-child {
  box-shadow: -$margin-left-content 0 30px 1px $color-border;
}