.md-content {
  list-style: none;
  width: 100%;
  height: 83vh;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  overflow: -moz-scrollbars-none;
  background-color: $color-element;
}

.md-content-program {
  position: relative;
  height: 100%;
  margin-left: $margin-left-content;
}

.md-message-centred {
  position: relative;
  text-align: center;
  top: 40%;
}

.md-message-content-centred {
  position: relative;
  text-align: center;
  padding: 35%;
}
