.md-content {
  width: 100%;
  height:100%;
  overflow:auto;
  background-color: $color-secondary;
}

.md-content-program {
  position: relative;
  margin-left: $margin-left-content;
}

.md-message-centred {
  position: relative;
  text-align: center;
  top: 40%;
}

.md-message-content-centred {
  position: relative;
  text-align: center;
  padding: 35%;
}
